body {
font-family: sans-serif;
margin: 20px;
padding: 0 20px;
}

form {
  text-align: center;
  margin: 60px 0;
}

h1 {
  color: #5A5252;
  font-size: 200px;
  font-weight: 900;
  line-height: 1;
  text-align: left;
  margin: 0;
  padding: 10px 0px 0px 30px;
}


li {
  color: #5A5252;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  list-style: none;
  margin: 10px;
}


.weather-app {
  border: 1px solid #5A5252;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 50px;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.weather-icon {
  position: relative;
   top: -35px;
}

.float-left {
  position: relative;
  right: -250px;
  top: -70px;

}

.temperature{
  color: #5A5252;
  font-size: 80px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -32px;
}
.search-form{
  margin-bottom: 10px;
}

.col-4 {
  text-align: center;
  margin: 0 auto;
  padding: 8px;
  
}

.cloudy-icon {
  display: block;
  font-size: 50px;
  
}

.rain-icon{
  display: block;
  font-size: 100px;
  margin: 50px;

}
.imgsun {
  display: block;
  width: 150px;
  margin: 0 auto;
}

.footer {
        color: #5A5252;
        display: block;
        font-family: "Courier New", Courier, monospace;
        text-align: center;
        margin: 10px;
      }