body {
font-family: sans-serif;
margin: 20px;
padding: 0 20px;
}

form {
  text-align: center;
  margin: 50px 10px 0px 10px;
}

.button {
  max-width: 600px;
}

h1 {
  color: #5A5252;
  font-size: 55px;
  font-weight: 900;
  line-height: 1;
  text-align: left;
  margin: 0;
  padding: 30px 20px 10px 35px;
}

ul {
  color: #5A5252;
  display: block;
  list-style: none;
  line-height: 1;
  font-weight: 400;
  text-align: left;
  margin: 0px;
}

.date-description {
  font-size: 23px;
}
.humidity{
  font-size: 17px;
  line-height: 1;
  padding: 30px 0px 0px 70px;
}
.wind{
  font-size: 17px;
  margin-left: 70px;
}

.weather-app {
  border: 1.5px solid #5A5252;
  padding: 30px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 50px;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.overview{
  margin-bottom: 40px;
}
.clearfix {
  position: relative;
}

.weather-temperature img{
  margin-right: 10px;
  height: 1;
  width: 64px;

}

.weather-temperature .units {
  position: relative;
  top: -39px;
  font-size: 21px;
}



.float-left {
  position: relative;
}


.temperature{
  color: #5A5252;
  font-size: 80px;
  font-weight: 400;
  line-height: 1;
}

.search-form{
  margin-bottom: 10px;
  max-width: 600px;
}

.col-4 {
  text-align: center;
  margin: 0 auto;
  padding: 8px;
  
}

.cloudy-icon {
  display: block;
  font-size: 100px;
  
}

.rain-icon{
  display: block;
  font-size: 100px;
  margin: 50px;

}
.imgsun {
  display: block;
  width: 150px;
  margin: 0 auto;
}

.footer {
  color: #5A5252;
  display: block;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin: 0 ;
}